@model RandevuSistemi.Models.AdminSiniflar.Campaigns
@{
    ViewData["Title"] = "UpdateCampaigns";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h1>Kampanya Güncelleme Sayfası</h1>

<form method="post">
    @Html.HiddenFor(x => x.CampaignsId)
    <label>Kampanya Başlığı</label>
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" }) <br />
    <label>Kampanya Açıklaması</label>
    @Html.TextBoxFor(x => x.Description, new { @class = "form-control" }) <br />
    <label>Başlama Tarihi</label>
    @Html.TextBoxFor(x => x.StartDate, new { @class = "form-control" }) <br />
    <label>Bitiş Tarihi</label>
    @Html.TextBoxFor(x => x.EndDate, new { @class = "form-control" }) <br />
    <button class="btn btn-success">Güncelle</button>
</form>